.occurrence-container {
    padding: 10px;
    margin: 0 auto;
    max-width: 100%;
    color: #696969;
}

.occurrence-container img {
    width: 100%;
}

.occurrence-container h2 {
    text-align: justify;
    margin: 5px auto;
}

.occurrence-container p {
    text-align: justify;
}

@media screen and (max-width: 580px) {
    .occurrence-container {
        position: relative;
        top: 100px;
    }
}

