.occurrence-container {
    max-width: 900px;
    padding: 10px;
    margin: 0 auto;
    background-color: #f2f2f2;
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 10px;
}

.occurrence-container .occurrence-options {
    display: flex;
    align-items: center; /* Alinhamento vertical dos filhos */
    justify-content: space-between; /* Tipo de espaçamento */
    flex-wrap: wrap; /* Caso precise, quebra linha */
}

.occurrence-container .occurrence-options .icon {
    color: black;
    font-size: 25px;
    cursor: pointer;
}

.occurrence-container .buttons-container {
    display: flex;
    justify-content: space-between;
}

.occurrence-container .buttons-container button {
    color: white;
    background-color: red;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}

.occurrence-container img {
    width: 100%;
}

.occurrence-container h2 {
    text-align: justify;
    margin: 5px auto;
    color: RGBA(0,0,0,.70);
}

.occurrence-container span {
    text-align: justify;
    margin: 5px auto;
    color: RGBA(0,0,0,.70);
}

.occurrence-container .share-container {
    margin: 10px auto;
    display: flex;
    align-items: center; /* Alinhamento vertical dos filhos */
    flex-wrap: wrap;
    justify-content: space-between; /* Tipo de espaçamento */
}

.occurrence-container .share-container div {
    display: flex;
}

.occurrence-container .share-container div span {
    color: RGBA(0,0,0,.90);
    margin-right: 10px;
}

.occurrence-container .share-container div .share-button {
    margin-right: 5px;
}

.occurrence-container p {
    text-align: justify;
    color: RGBA(0,0,0,.70);
}

@media screen and (max-width: 580px) {
    .occurrence-container {
        position: relative;
        top: 100px;
    }
}

