.list-occurrences-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding: 1rem;
}
.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    background: #fff;
    border-radius: 2px;
    max-height: 420px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card img {
    max-width: 100%;
    cursor: pointer;
}

.card span {
    text-align: justify;
    margin: 0 10px;
    margin-bottom: 8px;
    color: #696969;
    color: RGBA(0,0,0,.70);
    cursor: pointer;
}

.card h3 {
    text-align: justify;
    margin: 0 10px;
    margin-bottom: 8px;
    color: #696969;
    color: RGBA(0,0,0,.70);
    cursor: pointer;
}
.card p {
    text-align: justify;
    margin: 10px;
    color: #696969;
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em; /* aqui vc controla a altura da caixa de texto */
    text-align: justify;
}
.card a {  
    margin: 10px;
    margin-top: 0px;
}

@media screen and (max-width: 580px) {
    .list-occurrences-container {
        padding-top: 92px;
    }
    .card {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        
    }
}